[user]
	name = gabistamenova
	email = gabriela.stamenova@student.gyarab.cz
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
